# Environments
.env
.venv/
env/
venv/
ENV/

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Reports
.pytest_cache/
reports/
test-results/
playwright-report/
blob-report/

# Editor / OS settings
.vscode/
.idea/
.DS_Store
Thumbs.db
